<div class="row mt-3 ml-3">
  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item h3 text-center bg-warning">AREAS</li>
      <button
        
        type="button"
        
       
        class="btn btn-primary mb-1"
        *ngFor="let a of areas"

        (click)="seleccionado(a)"

        [routerLink]="['/detalles']"
      >
        {{ a }}
      </button>
    </ul>
  </div>

  <div class="col-3">
    <ul class="list-group">
      <li class="list-group-item h3 text-center bg-warning">DEPARTAMENTOS</li>
      <li class="btn btn-primary mb-1" *ngFor="let d of departamentos">
        {{ d }}
      </li>
    </ul>
  </div>
  

  <div class="col-5 " *ngIf="detallesBool">
  

      <app-detalles [titulotarjeta]="titulotarjeta" [claseDetalles]="detalles1" ></app-detalles>


  </div>
</div>
